@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face{
	font-family: MyFont;
	src: url('fonts/Uni.otf');
}

@font-face{
	font-family: Arkit;
	src: url('fonts/Arkit-SemiBold.ttf');
}
@font-face{
	font-family: Marcher;
	src: url('fonts/Marcher-Bold.ttf');
}
@font-face{
	font-family: Radiate;
	src: url('fonts/Radiate-Sans-Bold.ttf');
}
@font-face {
	font-family: Radiate-Bold;
	src: url('fonts/Radiate-Sans-Extra-Bold-Italic.ttf');
}

body {
	background-color: hsl(210, 51%, 5%);
	margin : 0px;
}
::-webkit-scrollbar {
	width: 16px;
	background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius:10px;
}
::-webkit-scrollbar-track-piece{
	background: #ade0d8; 
	background: #ade0d8;
	border-radius:10px;
}
::-webkit-scrollbar-corner {
	background: #d0cecb; 
}
.header img:hover{
	transform: rotate(3600deg);
	-webkit-transform: rotate(3600deg);
}
.header button:hover{
	transform: scale(1.1);
	cursor: pointer;
}
* a{
	text-decoration: none;
}
.header{
	width: 1350px;
	height: 80px;
	background-color: hsl(210, 45%, 8%);
	position: fixed;
	z-index: 1;
}
.discord{
	padding: 10px 40px;
	background-color: hsl(240, 100%, 40%);
	float: right;
	font-family: MyFont;
	border-radius: 25px;
	position: relative;
	top: 20px;
	border: 0px;
	margin-right: 50px;
	color: white;

	
}
.text{
	float: left;
}
.text:hover{
	color: green;
}
.footer{
	width: 1000px;
	height: 90px;
	margin: auto;
	border-radius: 30px;
	background-color: hsl(210, 45%, 8%);
	position: relative;
	top: 200px;
	text-align: center;
}
#main{
	margin: auto;
	width: 1150px;
	height: 1680px;
	position: relative;
	top: 125px;
}
.özellik{
	width: 400px;
	height: 120px;
	position: absolute;
	top: 50px;
	transition-duration: 0.3s;
	animation: box 1s;
}
.info{
	width: 350px;
	height: 200px;
	background-color: hsl(210, 45%, 8%);
	border-radius: 20px;
	position: absolute;
	top: 90px;
	left: 720px;
	word-wrap: break-word;
	text-align: center;
	transition-duration: 0.3s;
	animation: info 1s;
}
.özellik2{
	width: 400px;
	height: 120px;
	position: absolute;
	top: 400px;
	left: 720px;
	animation: box2 1s;
}
.info2{
	width: 350px;
	height: 200px;
	background-color: hsl(210, 45%, 8%);
	border-radius: 20px;
	position: absolute;
	top: 600px;
	left: 70px;
	word-wrap: break-word;
	text-align: center;
	animation: info2 1s;
}
.özellik3{
	width: 400px;
	height: 125px;
	position: absolute;
	top: 875px;
	animation: box3 1s;
}
.info3{
	width: 350px;
	height: 200px;
	background-color: hsl(210, 45%, 8%);
	border-radius: 20px;
	position: absolute;
	top: 900px;
	left: 730px;
	word-wrap: break-word;
	text-align: center;
	animation: info3 1s;
}
.özellik4{
	width: 400px;
	height: 125px;
	position: absolute;
	top: 1200px;
	left: 750px;
	animation: box4 1s;
}
.davet{
	width: 400px;
	background-color: hsl(240, 100%, 40%);
	padding: 20px 40px;
	border: 0px;
	border-radius: 20px;
	color: white;
	font-family: Overpass;
	font-size: 28px;
	position: absolute;
	top: 1500px;
	left: 100px;
}
.davet2{
	width: 400px;
	background-color: hsl(240, 100%, 40%);
	padding: 20px 40px;
	border: 0px;
	border-radius: 20px;
	color: white;
	font-family: Overpass;
	font-size: 28px;
	position: absolute;
	top: 1400px;
	left: 100px;
}
.davet:hover{
	background-color: hsl(240, 100%, 30%);
	cursor: pointer;
}
.davet2:hover{
	background-color: hsl(240, 100%, 30%);
	cursor: pointer;
}
.info2 button{
	background-color: hsl(220, 20%, 14%);
	color: white;
	border: 0px;
	font-family: Overpass;
	font-size: 18px;
	padding: 10px 20px;
	transition-duration: 0.3s;

}
.info2 button:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.footer button:hover{
	transform: scale(1.3);
	cursor: pointer;
}
